@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Group Project 3 / Suite Role</h1>
    <p>CRUD Page is <a href="/Residents">HERE</a>.</p>
</div>

